name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Deploy to GitHub Pages
        run: |
          cp -r build/distributions/* ../public
          cd ../
          git init
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add public
          git commit -m "Deploy to GitHub Pages"
          git push -f https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} gh-pages
